./Assetnote/data/manual/html.txt
./Assetnote/data/manual/best-dns-wordlist.txt
./Assetnote/data/automated/httparchive_js_2020_11_18.txt
./Assetnote/data/technologies/httparchive_nginx_2021_04_28.txt
./Assetnote/data/technologies/httparchive_nginx_2021_03_28.txt
./Assetnote/data/technologies/httparchive_apache_2021_03_28.txt
./Assetnote/data/technologies/httparchive_nginx_2021_06_28.txt
./Assetnote/data/technologies/httparchive_nginx_2021_02_28.txt
./Unicode/Public/UCD/latest/charts/CodeCharts.pdf
./Unicode/Public/UCD/latest/charts/fr/CodeCharts.pdf
